body {
	background-image: url("./image/projectBJ1.png");
	/* background-repeat: no-repeat; */
	/* background-size: contain;
	background-size: cover;
	grid-area: auto; */
}
.logo {
	position: relative;
	top: 0;
	width: 290px;
	height: 90px;
}
/* .engineerSignUpButton .workerSignUpButton {
	display: block;
} */

.engineerSignUpButton {
	background-image: url("./image/business\ man\ button2.png ");
	width: 148.5px;
	height: 292px;
	margin-left: 150px;
	margin-right: 200px;
}

.workerSignUpButton {
	background-image: url("./image/construction\ worker\ button2.png");
	width: 150px;
	height: 292px;
}
#signUpWorker {
	margin-right: 15px;
}
#alreadySignUp {
	display: block;
	margin-top: 15px;
}
.signUp {
	color: darkorange;
	font-family: Garamond;
	margin: -200px;
}

#homeButton {
	margin-bottom: 11%;
	margin-left: 84%;
	margin-top: -5%;
	background-color: darkorange;
	color: white;
	padding: 5px 5px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	width: 70px;
}
#homeButton:hover {
	background-color: #f06c00;
}

#LearnMore {
	margin-bottom: 11%;
	margin-left: 92%;
	margin-top: -13%;
	background-color: darkorange;
	color: white;
	padding: 5px 5px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	width: 100px;
}
#LearnMore:hover {
	background-color: #f06c00;
}

input[type=text],
select {
	padding: 6px 10px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
input[type=password],
select {
	padding: 6px 10px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
input[type=number],
select {
	padding: 6px 10px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
input[type=file],
select {
	padding: 6px 10px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
.Button {
	background-color: darkorange;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.Button:hover {
	background-color: #f06c00;
}

#title {
	color: darkorange;
}

.learnMore {
	color: darkgreen;
}
