body {
	background-image: url("./image/project\ background10.png");
	max-width: 100%;
	height: auto;
	width: auto;
}
.logo {
	position: relative;
	top: 0;
	width: 290px;
	height: 90px;
}
/* .engineerSignUpButton .workerSignUpButton {
	display: block;
} */

.engineerSignUpButton {
	background-image: url("./image/business\ man\ button2.png ");
	width: 150px;
	height: 292px;
	margin-left: 150px;
	margin-right: 200px;
}

.workerSignUpButton {
	background-image: url("./image/construction\ worker\ button2.png");
	width: 150px;
	height: 292px;
}
#signUpWorker {
	margin-right: 15px;
}
#alreadySignUp {
	display: block;
	margin-top: 15px;
}
