<html>
    <head>
        <title>
            signup 
        </title>
    </head>

    <body>
            <h1>{{var3}}</h1>
                <input type="text" placeholder="User Name" >
                <input type="text" placeholder="Password">
                <button onclick="" >Login</button>

        <div id="carInfo">
        <div id="OneUser">   
        <h3 class="UserInfo"><i class="fas fa-user"></i> Name: {{fullname}}<h3>
        <h3 class="UserInfo">Experience: {{Experience}}<h3>
        <h3 class="UserInfo">Professionl: {{Professionl}}<h3>
        <h3 class="UserInfo">Status: {{Status}}<h3>
        <h3 class="UserInfo">Role:{{Role}}<h3>
        <Button class="ProButton">Profile</Button>   
        </div>
        <div id="OneUser">   
                <h3 class="UserInfo">Name: {{fullname}}<h3>
                <h3 class="UserInfo">Experience: {{Experience}}<h3>
                <h3 class="UserInfo">Professionl: {{Professionl}}<h3>
                <h3 class="UserInfo">Status: {{Status}}<h3>
                <h3 class="UserInfo">Role:{{Role}}<h3>
                        <Button class="ProButton">Profile</Button>   
   
                </div>

                <div id="OneUser">   
                        <h3 class="UserInfo">Name: {{fullname}}<h3>
                        <h3 class="UserInfo">Experience: {{Experience}}<h3>
                        <h3 class="UserInfo">Professionl: {{Professionl}}<h3>
                        <h3 class="UserInfo">Status: {{Status}}<h3>
                        <h3 class="UserInfo">Role:{{Role}}<h3>
                                <Button class="ProButton">Profile</Button>   

                        </div>

                        <div id="OneUser">   
                                <h3 class="UserInfo">Name: {{fullname}}<h3>
                                <h3 class="UserInfo">Experience: {{Experience}}<h3>
                                <h3 class="UserInfo">Professionl: {{Professionl}}<h3>
                                <h3 class="UserInfo">Status: {{Status}}<h3>
                                <h3 class="UserInfo">Role:{{Role}}<h3>
                                        <Button class="ProButton">Profile</Button>   

                                </div>


                                <div id="OneUser">   
                                        <h3 class="UserInfo">Name: {{fullname}}<h3>
                                        <h3 class="UserInfo">Experience: {{Experience}}<h3>
                                        <h3 class="UserInfo">Professionl: {{Professionl}}<h3>
                                        <h3 class="UserInfo">Status: {{Status}}<h3>
                                        <h3 class="UserInfo">Role:{{Role}}<h3>
                                                <Button class="ProButton">Profile</Button>   

                                        </div>

                                        <div id="OneUser">   
                                                <h3 class="UserInfo">Name: {{fullname}}<h3>
                                                <h3 class="UserInfo">Experience: {{Experience}}<h3>
                                                <h3 class="UserInfo">Professionl: {{Professionl}}<h3>
                                                <h3 class="UserInfo">Status: {{Status}}<h3>
                                                <h3 class="UserInfo">Role:{{Role}}<h3>
                                                        <Button class="ProButton">Profile</Button>   

                                                </div>
        


        </div>



        <!-- <input type="text" ng-model="username" >
        <button type="submit" ng-click="sendDataToServer(username)">
            click
        </button> -->

    </body>
</html>